header {
    width: 50%;
    margin: auto;
    margin-top: 80px;
}

h1, h3, .row1, .row2, .row3, .row6 {
    color: indigo;
}

#content {
    width: 56%;
    margin-left: 16%;
    height: 2000px;
}

#reset {
    float: left;
    margin-left: 50px;
}

#phai {
    width: 400px;
    float: right;
    text-align: right;
    margin-right: 50px;
}

h1 {
    text-align: center;
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #b4ffe3;
}

button {
    width: 100px;
    height: 40px;
    font-size: 24px;
    background-color: #ffab0f;
    color: white;
    border-radius: 7px;
    border: none;
}

button:hover {
    background-color: #dac196;
    color: crimson;
}
input:focus {
    background-color: #bcd2fc;
}

#table2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#table1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    border: 2px solid white;
    border-collapse: collapse;
    background-color: bisque;
    border-radius: 5px;
}

.row1 {
    width: 42%;
}

.row2 {
    width: 9.5%;
}

.row6 {
    width: 7.5%;
}

.row3 {
    width: 19%;
}

.row4 {
    width: 10%;
}

.row5 {
    width: 10%;
}

#aright {
    width: 500px;
    height: auto;
    margin-left: 72%;
    position: fixed;
    padding: 5px;
    margin-top: -25px;
}

#right {
    width: 440px;
    height: 250px;
    margin-top: 15px;
    position: absolute;
}

#divjs {
    width: 100%;
    height: 100%;
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    background-image: url("https://i.pinimg.com/originals/af/0b/a4/af0ba4ce1ac610da96b4b26fb52f87b7.jpg");
    background-size: cover;
    position: absolute;
    margin-top: 700px;
}

#rightdowm {
    width: 440px;
    height: 440px;
    padding: 20px;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/40/d5/8b/40d58b92b1ed8ab3e0e1d03a9138b70f.png");
    background-size: cover;
    border-radius: 30px;
    position: absolute;
}

.money {
    border-radius: 5px;
    width: 230px;
    height: 35px;
    margin: 10px;
    background-color: bisque;
    font-size: 30px;
}

.table3 {
    border-radius: 5px;
    width: 320px;
    height: 50px;
    background-color: #b4b4b4;
}

#div4 {
    width: 100%;
}

#div5 {
    width: 100%;
    border-radius: 10px;
}
